DB_HOST='localhost'
DB_NAME='{{ app_db_name }}'
DB_USERNAME='{{ deploy_user }}'
DB_USERPASS=''
GMAIL_PASS='fake'
GMAIL_USER='fake@mail.ru'
LANG='en_US.UTF-8'
RAILS_SERVE_STATIC_FILES='enabled'
SECRET_KEY_BASE='replace me'
